.registros{

     margin-top: 0px;
}
h6{
     font-size: 16px;
     text-align: center;
}
table{
     margin-left: 60px;
     margin-top: 130px;
     background-color: white;
}
th{
     text-align: center;
}
.icon-video{
     content: "C:\Users\jeisson\Desktop\GIT\Front-End\ReservasEmpresariales\src\app\editar.png";
}
#tash {
     margin-left: 10px;
     color:red;
     background-color: transparent;
     border: 1in;
     
}
#edit{
     background-color: transparent;
     color:rgb(14, 144, 219);
     border: 1in;
}