#registros{
     margin-top: 110px;
    
}
h6{
     font-size: 14px;
     text-align: center;
}
table{
     width: auto;
     background-color: white;
     border-radius: 15px;
}
th{
     text-align: center;
     font-size: 14px;
}
#tash {
     margin-left: 10px;
     color:red;
     background-color: transparent;
     border: 1in;
     
}
#edit{
     background-color: transparent;
     color:rgb(14, 144, 219);
     border: 1in;
}
.nav{
     margin-left: 20px;
     text-align: center;
}
.filtro
{
     margin-left: 20px; 
}
.menu
{
     justify-content: center;
     margin-top: 50px;
}
#filtros
{
     justify-content: center;
    
}