<div class="row menu ">
    <input type="button" value="Crear Cliente" class="btn btn-success" (click)="crearCliente()">
    <input type="button" value="Crear Solicitud" class="btn btn-success nav" (click)="crearSolicitud()">
    <input type="button" value="Eliminar Solicitud" class="btn btn-success nav" (click)="eliminarSolicitud()">
    
</div>
<br>    
<div id="row filtros">
    <form [formGroup]="filtros" novalidate (ngSubmit)="filtroSolicitud()">
    <input type="date"   formControlName="f_inicial" class="filtro" placeholder="seleccione la fecha">

    <input type="date"   formControlName="f_final"  class="filtro" placeholder="seleccione la fecha">
    <input type="submit" value="Filtrar" class="btn btn-success filtro">
</form>
</div>
<div id="registros" >
    <table class="table table-striped" align="center">
        <thead >
            <tr>
                <th>Nombre Cliente</th>
                <th>Identificacion</th>
                <th>Telefono</th>
                <th>Ciudad</th>
                <th>Fecha Evento</th>
                <th>Cantidad Personas</th>
                <th>Motivo</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="details !== ''">
            <tr *ngFor="let item of details">
                <th >
                    <h6>{{item.nombre +" "+ item.apellido}}</h6>
                </th>
                <th >
                    <h6>{{item.identificacion}}</h6>
                </th>
                <th >
                    <h6>{{item.telefono}}</h6>
                </th>
                <th >
                    <h6>{{item.ciudades}}</h6>
                </th>
                <th >
                    <h6>{{item.fechaEvento}}</h6>
                </th>
                <th>
                    <h6>{{item.personas}}</h6>
                </th>
                <th >
                    <h6>{{item.motivo}}</h6>
                </th>
                <th>
                    <button type="button" id="edit"(click)="actualizarCliente(item)"><span class="fas fa-edit"></span></button>
                    <button type="button " id="tash" (click)="eliminarCliente(item)"><span class=" tash fas fa-trash-alt"></span></button>
                </th>
            </tr>
        </tbody>
    </table>
</div>

