<div class="container">
  <h1>Modulos</h1>
  <br>
  <br>
  <div class="row">
      <button class="btn btn-primary" routerLink='/IfCondicional'>Manejo de *IF</button>
      &nbsp;
      &nbsp;
      <button class="btn btn-primary button-jeisson" routerLink='/CRUD-arreglo'>CRUD arreglo</button>
      &nbsp;
      &nbsp;
      <button class="btn btn-primary" routerLink=''>Observable</button>
      &nbsp;
      &nbsp;
      <button class="btn btn-danger" routerLink=''>Regresar</button>
  </div>
</div>
<router-outlet>
</router-outlet>
